@model OnlineShop12.Models.Category

<h2>Editare categorie</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id_Category" />

    <label for="Category_Name">Nume categorie:</label>
    <input asp-for="Category_Name" />

    <label for="Description">Descriere:</label>
    <input asp-for="Description" />

    <button type="submit">Salvează</button>
</form>
