<h2>Afisare categorii</h2>
<br />

@foreach (var categ in ViewBag.Categories)
{
    <p>@categ.Category_Name</p>

    <br />
    <a href="/Categories/Show/@categ.Id_Category">Afisare categorie</a>
    <br />
    <a href="/Categories/Edit/@categ.Id_Category">Editare categorie</a>
    <hr />

}

<a href="/Categories/New">Adaugare categorie</a>
<br />
<a href="/Products/Index">Afisare produse</a>


