<h2 style ="text-align: center; color: #FFE209;">Afisare categorii</h2>
<br />

<div class="product-grid">
@foreach (var categ in ViewBag.Categories)
{
    <div class="card">
    <p>@categ.Category_Name</p>

    <br />
    <a href="/Categories/Show/@categ.Id_Category" class=" btn-primary">Afisare categorie</a>
    <br />
    <a href="/Categories/Edit/@categ.Id_Category" class=" btn-secondary">Editare categorie</a>
    <hr />
    </div>

}
</div>
<a href="/Categories/New" class="add-product-btn">Adaugare categorie</a>
<br />
<a href="/Products/Index" class="add-product-btn">Afisare produse</a>


