@{
    ViewBag.Title = "Adauga Categorie"; 
}
@model OnlineShop12.Models.Category;


<h2>Formular adaugare categorie</h2>

<form method="post" action="/Categories/New">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label>Denumire categorie</label>
    <input type="text" name="Category_Name"/>
    <span asp-validation-for="Category_Name" class="text-danger"></span>
    <br />
    <label>Descriere</label>
    <input type="text" name="Description" />
    <span asp-validation-for="Description" class="text-danger"></span>

    <button class=" btn-success" type="submit">Adaugă categoria</button>
</form>

