@{
    ViewData["Title"] = "Home Page";
}
<div class="">
<div class="hero-section">
    <h1 class="accent">Welcome to 2BeesWatches!</h1>
    <h1>Descoperă cele mai bune ceasuri</h1>
    <p>Calitate, stil și performanță la un preț accesibil.</p>
    <a href="/Products" class="btn">Începe</a>
</div>


 <img src="\images\cat\fundal.png" alt="er" class="w-100">


<div class="about-us">
    <h2>Despre Noi</h2>
    <p>La 2BeesWatches, oferim ceasuri de calitate superioară, cu designuri elegante și funcționalități remarcabile. Ne mândrim cu satisfacția clienților noștri.</p>
</div>
</div>