<h2>Editare comanda</h2>

<form method="post" action="/Orders/Edit/@ViewBag.Orders.Id_Order">

    <label>Cod comanda</label>

    <br />

    <input type="text" name="Id_Order" value="@ViewBag.Orders.Id_Order" />

    <button type="submit">Modifica Comanda</button>

</form>
