<h2>Formular adaugare comanda</h2>

<form method="post" action="/Orders/New">

    <label>Acest formular ar trebui sa fie un fel de cos de cumparaturi</label>

    <input type="text" name="Id_Order" />

    <br />

    <button type="submit">Adauga comanda</button>

</form>
