<h2>Afisare produse</h2>
<br />

@foreach (var prod in ViewBag.Products)
{
    
    <div class="card">
    <p>@prod.Title</p>
        @if (!string.IsNullOrEmpty(prod.ImagePath))
        {
            <img src="@Url.Content(prod.ImagePath)" alt="@prod.Title" style="width: 150px; height: auto;" />
        }
        else
        {
            <p>No image available</p>
        }


    <br />
    <a href="/Products/Show/@prod.Id_Product">Afisare produs</a>
    <br />
    <a href="/Products/Edit/@prod.Id_Product">Editare produs</a>
    <hr />
    </div>
}

<a href="/Products/New">Adaugare produs</a>
<br />

